page-driver-main {
    .card-background-page {
        ion-card {
          position: relative;
          text-align: center;
        }        
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    .txtC{
        text-align: center;
    }
}
