page-inicio {
    #btn{
        block-size: 48px;
        font-size: 15pt;
        border-radius:5%;
    }
    #btnP{
        block-size: 48px;
        font-size: 15pt;
        border-radius:5%;
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }
}
