page-pedir-t {
 .txtC{
    text-align: center;
 }
 .profile_img_col{
    text-align: center;
    padding-right: 40%;
    left:19%;
  }
  //
  .user_name {
   color: #afafaf;
   }
   .message {
      padding: 10px !important;
      transition: all 250ms ease-in-out !important;
      border-radius: 10px !important;
      margin-bottom: 4px !important;
   }
   .my_message {
      background: color($colors, primary) !important;
      color: #000 !important;
   }
   .other_message {
      background: #dcdcdc !important;
      color: #000 !important;
   }
   .time {
      color: #afafaf;
      float: right;
      font-size: small;
   }
   .message_row {
      background-color: #fff;
   }
  //
}
