page-perfil-e {
    #iconS{
        //font-size: 200%;
        block-size:100%;
        height: 80px;
    }
    #imgP{
        text-align: center;
        left:35%;
        //block-size:100%;
        border-radius:60%;
        height: 80px;
    } 
}
