page-reservacion-b {
    #tam{
         width: 107%;
         right: 4%;
    }
    #tamB{
        width: 107%;
    }
    #txtT{
        text-align: center;
        font-size: 8pt;
    }
    #txtTam{
        width: 20%;
    }
    .item-A{
        padding-right:40%;
        left:12%;
    }
    .item{
        background: transparent;
    }
    .div-foot{

    }
}
